@font-face {
    font-family: 'din-2014';
    src: url('../secretsanta/din-2014.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.italics {
    font-style: italic;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

header {
    margin-top: 10vh;
    margin-bottom: 10vh;
    align-items: center;
    text-align: center;
}

.hero header {
    font-family: 'din-2014';
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
}

.hero p {
    line-height: 100%;
}

.stuff {
    color: black;
    margin-bottom: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-decoration: none;
}

.item h2 {
    font-size: 100%;
    color: #2968EF;
}

.wishlist {
 display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 2rem;
}

.desc {
    font-size: .75rem;
    font-weight: lighter;
    color: #2968EF;
    margin-bottom: .25rem;
}

.thumbnail {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
   transition: transform 0.5s ease-out;
   border-radius: 5%;    
   margin-bottom: .75rem;
   background-color: #FFF9F0;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.moneyIcon {
    margin-bottom: .25rem;
    color:rgb(235, 174, 19);   
}

/* Base styles */
body {
    width: auto;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #2968EF;
    background-color: #fffdfa;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Reset some default styles */
body, h1, h2, h3, h4, h5, p, ul, ol {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em {
  font-style: normal;
}

figure {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 0;
  font-style: normal; /* removes italic */
  border: none;       /* removes any default border */
  background: none;   /* removes any default background */
}