@import url('fonts/stylesheet.css');

.navigationBar {
    background-color: #1E3765;
}

.navigationBar nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;    
    align-items: center;
}

#announcement {
    width: 100%;
    background-color: #F1C500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;    
}

#announcement p {
    font-size: 1.5rem;
    text-decoration: underline;
}

.line {
    width: auto;
    height: 1px;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;    
    background-color: black;
}

.italics {
    font-family: 'Halyard Display Book';
    font-weight: 300;
    font-style: italic;
    font-display: swap;    
}

.underline {
    text-decoration: underline;
}

.regular {
    font-family: 'Halyard Display';
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

.book {
    font-family: 'Halyard Display Book';
    font-weight: 300;
    font-style: normal;
    font-display: swap;    
}

#logo {
    font-family: 'VCR OSD MONO';
    color: #ffffff;
    font-size: 3rem;  
    text-decoration: none;      
}

.nav-links {
    display: flex;
    gap: 4.5rem;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
}

#ticketBtn {
    background-color: #ffffff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 2rem;
}

#ticketBtn a {
    color: #1E3765;
}

.header-style1 {
    font-family: 'Halyard Display';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 2.25rem;
}


.login-box {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff; /* Optional overlay color */
}

#error {
  display: none;
  color: red;
}

#content {
  display: none;
  text-align: center;
  padding: 2rem;
}

#enterField {
    max-width: 20%;
    padding-left: 7.5rem;
    margin-top: 10rem;
}

#enterField h2 {
    font-family: 'Halyard Display';
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#enterField input, button {
    padding: .25rem;
    font-size: 1rem;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#loginInfo {
    margin-top: 1rem;
    font-size: 1.25rem;
}

#contactSheet {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    margin-top: 5rem;
}

.headingStyle {
    display: flex;
    flex-direction: column;
}

.headingStyle p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

#sharingSection {
    margin-left: 7.5rem;
    margin-right: 7.5rem;    
}

#secureFiles ul {
    list-style: none;
    font-size: 1.75rem;
}

#secureFiles a {
    font-size: 1.5rem;
    text-decoration: underline;
    color: black;
}

#secureFiles a:hover {
    text-decoration: none;
}

#archive {
    margin-top: 2rem;
}


footer {
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;   
    display: flex;
    flex-direction: row; 
    justify-content: space-between;      
}

footer #logo {
    margin-left: 7.5rem;
}

footer .nav-links {
    margin-right: 7.5rem;
}










/* Base styles */
body {
    width: auto;
    font-family: 'Halyard Display Book';
    font-size: 1rem;
    color: black;
    background-color: #ffffff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    zoom: 80%;
}

/* Reset some default styles */
body, h1, h2, h3, h4, h5, p, ul, ol, figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
  font-style: normal; /* removes italic */
  border: none;       /* removes any default border */
  background: none;   /* removes any default background */
}

::-webkit-scrollbar {
 background-color: transparent;
 width: 12px;
}

::-webkit-scrollbar-thumb {
 background-color: #6a6d73;
 border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
 background-color: #4a4c51;
}

.nav-links li:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: .10rem;
}




@media (max-width: 768px) {

    #logo {
        display: none;
    }
    
    .navigationBar nav {
        margin-left: .5rem;
        margin-right: .5rem;
        justify-content: center;
    }

    .nav-links {
        gap: 1rem;
    }  

    .nav-links a {
        font-size: 1.1rem;
    }    

    #contactSheet {
        margin-left: .5rem;
        margin-right: .5rem;
        margin-top: 5rem;
    }    

    .line {
        margin-left: .5rem;
        margin-right: .5rem;        
    }

    #sharingSection {
        margin-left: .5rem;
        margin-right: .5rem;    
    }

    #formA {
        width: 90%;
        height: 600;
    }

    footer #logo {
        margin-left: .5rem;
    }

    footer .nav-links {
        margin-right: .5rem;
    }    
    
    footer {
        justify-content: center;
    }

}