@import url('fonts/stylesheet.css');

.navigationBar {
    background-color: #1E3765;
}

.navigationBar nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;    
    align-items: center;
}

#announcement {
    width: 100%;
    background-color: #F1C500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;    
}

#announcement p {
    font-size: 1.5rem;
    text-decoration: underline;
}

.italics {
    font-family: 'Halyard Display Book';
    font-weight: 300;
    font-style: italic;
    font-display: swap;    
}

.underline {
    text-decoration: underline;
}

.regular {
    font-family: 'Halyard Display';
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

#logo {
    font-family: 'VCR OSD MONO';
    color: #ffffff;
    font-size: 3rem;  
    text-decoration: none;      
}

.nav-links {
    display: flex;
    gap: 4.5rem;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
}

#ticketBtn {
    background-color: #ffffff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 2rem;
}

#ticketBtn a {
    color: #1E3765;
}






























footer {
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;   
    display: flex;
    flex-direction: row; 
    justify-content: space-between;      
}

footer #logo {
    margin-left: 7.5rem;
}

footer .nav-links {
    margin-right: 7.5rem;
}










/* Base styles */
body {
    width: auto;
    font-family: 'Halyard Display Book';
    font-size: 1rem;
    color: black;
    background-color: #ffffff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    zoom: 80%;
}

/* Reset some default styles */
body, h1, h2, h3, h4, h5, p, ul, ol, figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
  font-style: normal; /* removes italic */
  border: none;       /* removes any default border */
  background: none;   /* removes any default background */
}

::-webkit-scrollbar {
 background-color: transparent;
 width: 12px;
}

::-webkit-scrollbar-thumb {
 background-color: #6a6d73;
 border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
 background-color: #4a4c51;
}

.nav-links li:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: .10rem;
}




@media (max-width: 768px) {

}