@import url('fonts/stylesheet.css');

.navigationBar {
    background-color: #1E3765;
}

.navigationBar nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;    
    align-items: center;
}

#announcement {
    width: 100%;
    background-color: #F1C500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;    
}

#announcement p {
    font-size: 1.5rem;
    text-decoration: underline;
}

.italics {
    font-family: 'Halyard Display Book';
    font-weight: 300;
    font-style: italic;
    font-display: swap;    
}

.underline {
    text-decoration: underline;
}

.regular {
    font-family: 'Halyard Display';
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

#logo {
    font-family: 'VCR OSD MONO';
    color: #ffffff;
    font-size: 3rem;  
    text-decoration: none;      
}

.nav-links {
    display: flex;
    gap: 4.5rem;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
}

#ticketBtn {
    background-color: #ffffff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 2rem;
}

#ticketBtn a {
    color: #1E3765;
}

#heroSection {
    margin-top: 6rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;   
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-style1 {
    font-family: 'Halyard Display';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 2.25rem;
}

#txtSection p {
    font-family: 'Halyard Display Book';
    font-size: 1.5rem;
    max-width: 580px;
}

#txtSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#btnSection {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#btn2 {
    font-size: 1.5rem;
    text-decoration: underline;
}

.btnStyle {
    font-family: 'Halyard Display';
    font-size: 1.5rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #F1C500;
    border-radius: 2rem;
    transition: all 0.3s ease; 
    cursor: pointer;   
}

.btnStyle:hover {
    background-color: #e0b200;
    transform: scale(1.05);  
}

#locationSection { 
    background-color: #1E3765;       
}

.marginSetting {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;  
}

#locationTxt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

#locationTxt p {
    font-family: 'Halyard Display Book';
    font-size: 1.5rem;
}

#map {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#information h2 {
    font-family: 'Halyard Display';
    font-weight: 500;
    font-style: normal;
    font-display: swap;   
    color: white;
    font-size: 1.5rem; 
}

#information p {
    font-family: 'Halyard Display';
    font-weight: normal;
    font-style: normal;
    font-display: swap;  
    color: white;
    font-size: 1.25rem; 
}

#mapInfo {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}

#downloadSection {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;  

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    justify-content: center;
}

#downloadHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#downloadHeader p {
    font-family: 'Halyard Display Book';
    font-size: 1.5rem;
    max-width: 75%;    
}

#downloadHeader img {
    object-fit: contain;
    max-width: 75%;
    height: auto;
}

#forms {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

#forms a {
    text-decoration: none;
    color: black;
}

#contactSection {
    background-color: #1E3765;
}

#directorInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
}

#googleForm {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

#directors {
    list-style: none;
    color: white;
    font-family: 'Halyard Display Book';
    font-size: 1.5rem;
    
    display: flex;
    flex-direction: column;
    gap: 3.5rem;    
}

footer {
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;   
    display: flex;
    flex-direction: row; 
    justify-content: space-between;      
}

footer #logo {
    margin-left: 7.5rem;
}

footer .nav-links {
    margin-right: 7.5rem;
}









/* Base styles */
body {
    width: auto;
    font-family: 'Halyard Display Book';
    font-size: 1rem;
    color: black;
    background-color: #ffffff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    zoom: 80%;
}

/* Reset some default styles */
body, h1, h2, h3, h4, h5, p, ul, ol, figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
  font-style: normal; /* removes italic */
  border: none;       /* removes any default border */
  background: none;   /* removes any default background */
}

::-webkit-scrollbar {
 background-color: transparent;
 width: 12px;
}

::-webkit-scrollbar-thumb {
 background-color: #6a6d73;
 border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
 background-color: #4a4c51;
}

.nav-links li:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: .10rem;
}







@media (max-width: 768px) {

    #logo {
        display: none;
    }

    .navigationBar nav {
        margin-left: .5rem;
        margin-right: .5rem;
        justify-content: center;
    }

        .nav-links {
            gap: 1rem;
        }    
        
    .nav-links a {
    font-size: 1rem;
    }


    #heroSection {
        margin-left: .5rem;
        margin-right: .5rem;   
        flex-direction: column;
        gap: 2rem;
    }    

    .marginSetting {
        margin-left: .5rem;
        margin-right: .5rem;       
    }



    #map {
        flex-direction: column;
    }

    #directorInfoContainer {
        flex-direction: column;
    }

    #googleForm {
        width: 95% !important;
        height: 100;
        margin-bottom: 4rem;
    }

    #calendarFrame {
        width: 95% !important;
        height: 100;
    }

    #mapFrame {
        width: 98% !important;
        height: 100;
        align-self: center;
    }

    #forms {
        flex-direction: column;
    }

    #downloadHeader p {
        max-width: 100%;    
    }

    #downloadSection {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    footer #logo {
        margin-left: .5rem;
    }

    footer .nav-links {
        margin-right: .5rem;
    }

    footer {
        justify-content: center;
    }

}