.gray {
    color: #A3A19E;
}

.white {
    color: #EFEAE4;
}

.highlight {
    color: #FC78CE;
}

.dark-gray {
    color: #837C7C;
}

.box-gray {
    color: #1E2022;
}

.border-smooth {
    border-radius: 1rem;
}

.line-gap {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.smallest-gap {
    margin-top: 1rem;
}

.smaller-gap {
    margin-top: 1.5rem;
}

.small-gap {
    margin-top: 2rem;
}

.lighter-gap {
    margin-top: 3rem;
}

.light-gap {
    margin-top: 4rem;
}

.regular-gap {
    margin-top: 5rem;
}

.medium-gap {
    margin-top: 8rem;
}

.large-gap {
    margin-top: 11rem;
}

.large-padding {
    padding-top: 11rem;
}

.larger-gap {
    margin-top: 16rem;
}

.align-bottom {
    display: flex;
    align-items: flex-end;
}

.margins {
    margin-left: 15rem;
    margin-right: 13rem;  
}

.mockupImage {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-sizing: border-box;
}

.sticky-middle {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}


/* text and image styling */

.text-and-image {
    display: flex;
    flex-direction: row;
    
}

.layout-center {
    align-items: center;
}

.image-flex-1 {
    flex: 1;

    display: flex;
    width: auto;
    align-items: stretch; 
    border-radius: 1rem;   
}

.text-flex-1 {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text-and-image-gap {
    flex: .09;
}

/* end */

/* text and image styling no 2*/

.v2-text-and-image {
    display: flex;
    flex-direction: row;
}

.v2-image-flex-1 {
    flex: 1.15;

    display: flex;
    width: auto;
    align-items: stretch; 
    border-radius: 1rem;   
}

.v2-text-flex-1 {
    flex: .85;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.v2-text-and-image-gap {
    flex: .1;
}

/* end */


/* img and img styling*/

.two-images {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* end */



/* search bar styling */

.search-header {
  display: flex;
  border: #FFFFFF 1px solid;
  border-radius: 1rem;
  flex: 1;
  height: 100%;
  padding: 1rem;
  align-items: center;    
}

.search-header h5 {
    margin-left: 1rem;
}

/* end */