.gray {
    color: #A3A19E;
}

.white {
    color: #EFEAE4;
}

.highlight {
    color: #FC78CE;
}

.dark-gray {
    color: #837C7C;
}

.box-gray {
    color: #1E2022;
}

.border-smooth {
    border-radius: 1rem;
}

.line-gap {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.smallest-gap {
    margin-top: 1rem;
}

.smaller-gap {
    margin-top: 1.5rem;
}

.small-gap {
    margin-top: 2rem;
}

.lighter-gap {
    margin-top: 3rem;
}

.light-gap {
    margin-top: 4rem;
}

.regular-gap {
    margin-top: 5rem;
}

.medium-gap {
    margin-top: 8rem;
}

.large-gap {
    margin-top: 11rem;
}

.larger-gap {
    margin-top: 16rem;
}

.align-bottom {
    display: flex;
    align-items: flex-end;
}

.margins {
    margin-left: 15rem;
    margin-right: 13rem;  
}

.mockupImage {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-sizing: border-box;
}

.sticky-middle {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}


/* text and image styling */

.text-and-image {
    display: flex;
    flex-direction: row;
    
}

.layout-center {
    align-items: center;
}

.image-flex-1 {
    flex: 1;

    display: flex;
    width: auto;
    align-items: stretch; 
    border-radius: 1rem;   
}

.text-flex-1 {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text-and-image-gap {
    flex: .09;
}

/* end */

/* text and image styling no 2*/

.v2-text-and-image {
    display: flex;
    flex-direction: row;
}

.v2-image-flex-1 {
    flex: 1.15;

    display: flex;
    width: auto;
    align-items: stretch; 
    border-radius: 1rem;   
}

.v2-text-flex-1 {
    flex: .85;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.v2-text-and-image-gap {
    flex: .1;
}

/* end */


/* img and img styling*/

.two-images {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* end */



/* search bar styling */

.search-header {
  display: flex;
  border: #FFFFFF 1px solid;
  border-radius: 1rem;
  flex: 1;
  height: 100%;
  padding: 1rem;
  align-items: center;    
}

.search-header h5 {
    margin-left: 1rem;
}

/* end */

/* typewriter effect */
.cursor-blink::after {
  content: "";
  margin-left: .5rem;
  transform: translateY(0.25rem);
  width: .25rem;
  height: 2rem;
  background: #EFEAE4;
  display: inline-block;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor-blink::after {
    animation: cursor-blink 1.5s ease-in-out infinite;
}


/* table of contents */

.table-of-contents {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: flex;
  flex-direction: row;
  align-items: center;

  z-index: 10;
}

.open-button {
  background-color: #1e2022d2;
  width: fit-content;
  height: fit-content;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;  
  
  cursor: pointer;
}

.content-links {
  padding: 1.5rem;
  background-color: #1E2022;

  transition: transform 0.3s ease;  

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;    
}

.content-links li {
  list-style: none;
  cursor: pointer;
}

.content-links li a {
  transition: color 0.15s ease-out;
  text-decoration: none;
}

.content-links li a:hover {
  color: #EFEAE4;
}

.toc-inner {
  display: flex;
  flex-direction: row;
  align-items: center;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#toc-btn {
  display: flex;
  transition: transform 0.3s ease;
}

#toc-btn.flipped {
  transform: scaleX(-1);
}

.mobile-format {
  display: none;
}



@media (max-width: 1024px) {

.margins {
    margin-left: 8rem;
    margin-right: 8rem;  
} 

.line-gap {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.smallest-gap {
    margin-top: 1rem;
}

.smaller-gap {
    margin-top: 1.5rem;
}

.small-gap {
    margin-top: 1rem;
}

.lighter-gap {
    margin-top: 1.5rem;
}

.light-gap {
    margin-top: 2rem;
}

.regular-gap {
    margin-top: 3rem;
}

.medium-gap {
    margin-top: 6rem;
}

.large-gap {
    margin-top: 8rem;
}

.larger-gap {
    margin-top: 10rem;
}

.align-bottom {
    display: flex;
    align-items: flex-end;
}

}

@media (max-width: 780px) {
  .margins {
      margin-left: .5rem;
      margin-right: .5rem;  
  }   
}

@media (max-width: 540px) {

  .desktop-format {
    display: none;
  }
  .mobile-format {
    display: block;
  }

  .text-and-image, .v2-text-and-image {
      flex-direction: column;
      gap: 1rem;
  }


  .large-gap {
      margin-top: 6rem;
  }

  .larger-gap {
      margin-top: 8rem;
  }  
}