@import url('fonts/stylesheet.css');

/*nav bar*/

.navigationBar {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navigationBar nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;   
    align-items: center;
}

#logo {
    font-family: 'SIAFF Regular';
    color: #ffffff;
    font-size: 64px;  
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
    text-decoration: none;    
    height: auto;
}

.nav-links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
}

.nav-hover:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: .10rem;
}

.button-white {
    background-color: #ffffff;
    padding-top: .75rem;
    padding-bottom: .5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 2rem;
}

.button-white a {
    color: #000000;
}

.lang-group {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.lang-group a {
    color: black;
    text-decoration: none;
    padding-bottom: .25rem;
    padding-top: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: white;
    border-radius: .5rem;
}

/*main*/

#heroSection {
    position: relative;
    height: 200vh;
    display: flex;
    justify-content: center;
    background-image: url(media/gridBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#architectureHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#archit img, #archit {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#ecture img, #ecture {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    text-align: right;
    flex-wrap: nowrap;
}


#filmFest img {
    display: flex;
    float: right;

}


#heroTitle {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fade {
    width: 100%;
}

.fade img {
    display: block;    
    width: 100%;
}


#fadebottom {
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#fadeContainer {
    width: 100%;
    height: 100%;
    position: relative; 
}

#herocontainer {
    position: sticky;
    top: 30vh;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 20rem;  
    overflow-x: hidden;
}

#hero-center {
    padding: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border: #1B1BFF 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
}

#hero-center {
  display: none;
  padding: 0rem;
  transition: padding 0.05s linear;
}

#hero-center h3 {
  font-size: 0px;
  transition: font-size 0.05s linear;
}

#hero-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-spacer {
    height: 3.35rem;
}


#hero-center h3 {
    color: white;
    font-size: 3rem;
    white-space: nowrap;   
}

#prompt-1 {
    color: white;
    opacity: 1;
    font-size: 2.5rem;
    align-self: center;
    margin-top: 6rem;
    animation: pulseOpacity 4s ease-in-out infinite;
}

@keyframes pulseOpacity {
  0%   { opacity: 0.25; }
  50%  { opacity: 1; }
  100% { opacity: 0.25; }
}

.blink-in {
  opacity: 0;
  animation: blinkIn .3s ease-in-out forwards;
}

@keyframes blinkIn {
  0% { opacity: 0; }
  30% { opacity: 1; }
  60% { opacity: .4; }
  80% { opacity: 1; }
  100% { opacity: 1; }
}

/*main section*/

#mainContent {
  position: absolute;  
  width: 100%;
}

/*festival description*/

#festivalDescription {
    background-color: #1B1BFF;
    height: 300vh;
}

#descContainer {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#desc-gap {
    width: 100%;
    flex: .75;
}

#descImage {
    height: 100%;
    width: auto;
    flex: 1.5;
}

#descImage img {
    width: 100%;
}

.reveal {
    opacity: 0;          
    transform: translateY(-2rem) scale(1.1);  
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;      
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

#descTxt {
    flex: 1.2;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#descTxt h1 {
    font-size: 2.5rem;
}

#descTxt p {
    font-size: 1.25rem;
    text-align: justify;
}

#btn-style1 {
    font-size: 1.25rem;
    color: white;
}

#object, #object2, #object3 {
    position: absolute;
    width: 100%;
}

#object img {
    float: right;
    width: 20%;
    margin-right: 5%;
}

#object2 img {
    float:right;
    margin-top: 5rem;
    width: 10%;
    z-index: 5;
}

/*festival description*/

#awards {
    height: 400vh;
    background-color: white;
}

#awardContainer {
    position: sticky;
    top: -12vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#award-box {
    background-color: #232323;
    border:#1B1BFF 4px solid;
    height: 100%;
    width: 100%;
}

#awardParagraph {
    color: white;
    font-size: 1.25rem;
    text-align: justify;
}

#award-margins {
    margin-right: 4rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}



#award-left, #award-right {
    flex: 1;
    margin-top: 3rem;
    margin-bottom: 3rem;    
}

#award-center {
    flex: 1.5;
}

#award-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#award-right {
    display: flex;
    flex-direction: column;    
    gap: 40vh;
}

#awardheader-right h2 {
    color: white;
    text-align: right;
    font-size: 4rem;
    white-space: nowrap;
}

#awardheader-right p {
    color: white;
    text-align: right;
    font-size: 1.5rem;
    white-space: nowrap;
}

.qrCode {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    text-decoration: none;
    gap: 1rem;
}

.qrCode p {
    width: 50%;
}

.qrCode img {
    width: 30%;
    padding: .25rem;
    border: #1B1BFF 2px solid;
}

#btn-style2 {
    font-size: 1.25rem;
    color: black;
    margin-left: auto;
    margin-top: 1.75rem;
}

#award1 {
    width: 100%;
    height: 100%;
}

#object3 img {
    float:left;
    margin-top: 5rem;
    width: 15%;
    z-index: 5;
}

/* ROTATION ANIMATION */

.switch-model1, .switch-model2, .switch-model3 {
    opacity: 1;
    transition: opacity 0.8s ease;
}

/* Hidden state */
.hidden {
    opacity: 0;
    pointer-events: none;
}

/* SHOP SECTION */

#shopContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#shop {
    background-color: #000000;
}

#shopTxt {
    color: white;
    font-size: 5rem;
}

.shopGrid {
    display: grid;
    gap: 2rem;
    width: 100%;

    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.shopItem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    cursor: pointer;
}

.shop-imageContainer {
    overflow: hidden;
    border-radius: 1rem;
}

.shopItem p, h3 {
    font-size: 1.25rem;
}

.shopItem h3:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.shopItem img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    transition: transform 0.5s ease;
}

.shopItem img:hover {
    transform: scale(1.10);
    transition: transform 0.5s ease;
}

#view-more {
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: .75rem;
    margin-top: 1rem;
    background-color: white;
    font-size: 1.5rem;
    letter-spacing: 15%;
    text-decoration: none;
    color: inherit;  
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
}

#view-more:hover {
    background-color: #D9D9D9;
}

/* booth section */

#booths {
    background-color: white;
}

#boothContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#booth-box {
    background-color: #232323;
    border:#1B1BFF 4px solid;
    height: 100%;
    width: 100%;
}

#booth-margins {
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;    
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.giveawayboothImg {
    width: 100%;
    height: auto;
}

#booth-left {
    flex: 60;    
}

#booth-right {
    flex: 26;
}

#booth-center {
    flex: 14;
}

#booth-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.rotating-progressbar {
    display: flex;
    width: 100%;
    gap: .25rem;
}

/* Outer bar */
.bar {
    height: 4px;
    background-color: #D9D9D9;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: width 1s ease; /* smooth size switching */
}

/* Inner fill that animates only in the active bar */
.fill {
    height: 100%;
    width: 0%;
    background-color: #FF0000;
    border-radius: 8px;
}


#booth-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#boothheader-right h2 {
    color: white;
    text-align: left;
    font-size: 4rem;
    white-space: nowrap;
}

.boothParagraph {
    color: white;
    font-size: 1.25rem;
    text-align: justify;
}

.boothTitle {
    color: white;
    font-size: 1.5rem;
}

.boothTime {
    color: white;
    font-size: 1.25rem;
}

.boothDescription {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#boothInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.tickets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tickets a {
    text-decoration: none;
    color: black;
}

.ticket-btn {
    width: fit-content;
    font-size: 1.25rem;
    cursor: pointer;
}

.ticket-btn:hover {
    background-color: #D9D9D9;
}

.share {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 100%;
    width: auto;
    transition: rotate 0.3s ease;
    cursor: pointer;
}

.share img:hover {
    opacity: 90%;
    rotate: calc(10deg);
    transition: rotate 0.3s ease;
}

/* Register Prompt */

#arrow {
    margin-left: .25rem;
}

@media (max-width: 1024px) {

}