@import url('fonts/stylesheet.css');

.marginProperties {
    margin-left: 8rem;
    margin-right: 8rem;
}

.sectionSpacing {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.sectionSpacing-2 {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.btn:hover {
    text-decoration: none;
}

.notoRegular {
    font-family: 'Source Han Sans KR Regular';
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

.notoNormal {
    font-family: 'Source Han Sans KR Normal';
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

.notoBold {
    font-family: 'Source Han Sans KR Bold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;    
}

.siaffRegular {
    font-family: 'SIAFF Regular';
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

.siaffRounded {
    font-family: 'SIAFF Rounded';
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

.siaffOblique {
    font-family: 'SIAFF Oblique';
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

/* Base styles */
body {
    width: auto;
    font-family: 'Source Han Sans KR Regular';
    font-size: 1rem;
    color: black;
    background-color: #ffffff;

    -webkit-font-smoothing: none; /* For WebKit browsers (Chrome, Safari) */
    -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */

   zoom: 80%;
}

/* Reset some default styles */
body, h1, h2, h3, h4, h5, p, ul, ol, figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

blockquote, em {
  margin: 0;
  padding: 0;
  font-style: normal; /* removes italic */
  border: none;       /* removes any default border */
  background: none;   /* removes any default background */
}

::-webkit-scrollbar {
 background-color: #000000;
 width: 12px;
}

::-webkit-scrollbar-thumb {
 background-color: #6a6d73;
 border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
 background-color: #4a4c51;
}