@import url('../portfolioStyles/fontcss.css');
@import url('aovd-fonts/stylesheet.css');


/* Start styling here */

.notice {
  padding-top: 50vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.notice-header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.notice-header h1 {
  font-size: 6rem;
}

.notice-header p {
  font-size: 2rem;
}

/* Pre footer */

.label {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.arrowBottomLeft {
  height: 1.5rem;
  width: auto;
  padding-bottom: .15rem;
  padding-left: 0.875rem;
}

.media-link {
  list-style: none;

  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.link {
  padding: 1rem;
  background-color: #212326;
  border-radius: .5rem;  
  color: #EFEAE4;

  text-decoration: none;
  display: block;
}

.link:hover {
  background-color: #EFEAE4;
  color: #131416;
  transition: background-color 0.3s ease-out;
}

.connection-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pre-footer {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;

  position: sticky;
  background-color: #131416;
  padding-top: 25vh;
  padding-bottom: 10vh;
  z-index: 3;
}

.poro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poro {
  width: 17.5%;
  height: auto;
  transform: translateY(-50%);
}

/* Image link focus (keyboard accessible) */
.img-link:focus {
  outline: 3px solid #007bff;
  outline-offset: -3px;
}

/* Responsive tweak for small screens */
@media (max-width: 480px) {
  .grid {
    gap: 10px;
  }
  .meta {
    font-size: 13px;
    padding: 6px 8px;
  }
}

/* NavBar typographic settings */
.logo {
    font-family: 'Hydrophilia Iced', monospace;
    font-size: 2.5rem;
    color: var(--og-EFEAE4, #EFEAE4);
    margin-right: auto;
    text-decoration: none;
}

/* Navigation Bar Typographic Styles */
header nav a {
color: var(--og-EFEAE4, #EFEAE4);
font-family: 'Halyard Display', sans-serif;
font-size: 1.25rem;
font-style: light;
font-weight: 200;
line-height: normal;
text-decoration: none;
}

/* NavBar typographic settings */
.logo {
    font-family: 'Hydrophilia Iced', monospace;
    font-size: 2.5rem;
    color: var(--og-EFEAE4, #EFEAE4);
    margin-right: auto;
    text-decoration: none;
}

/* Navigation Bar Typographic Styles */
header nav a {
color: var(--og-EFEAE4, #EFEAE4);
font-family: 'Halyard Display', sans-serif;
font-size: 1.25rem;
font-style: light;
font-weight: 200;
line-height: normal;
text-decoration: none;
}

/* Navigation Link AutoLayout */
.nav-links ul {
    display: flex;
align-items: center;
justify-content: flex-end;
gap: .5rem;
list-style: none;
}

.nav-links a {
    padding: .75rem 1.5rem;
}

.nav-links a:hover {
    transition: background-color 0.3s ease-out;
    background-color: #2e3035c9;
    border-radius: 4px;
    display: flex;
}

/* This alligns the nav bar with the logo */
.fixedContainer header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.75rem;
    padding-bottom: 1rem;
    max-width: none;
}

/* This seperates nav bar from page */
.divider {
  width: 100%;
  height: .5px;
  opacity: 50%;
  background-color: #EFEAE4;
}

/* No fucking clue how I made this work, but it does;*/
.navContainer {
    padding: 0 0px;
    width: 100%;
}

.fixedContainer {
    z-index: 15;
    position: fixed;
    width: 100%;
    background-color: #131416;
}

/* Setting height for animation */
body {
    --nav-height: 100px;
    padding-top : var(--nav-height);
}

/* Navigation Bar Scroll Animation */
.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    transition: transform 0.5s ease-in-out;
}

.nav--revealed {
    transform: translateY(calc(1 * var(0)));
    transition: transform 0.3s ease-out;
}

/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em {
  font-style: normal;
}

figure {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 0;
  font-style: normal; /* removes italic */
  border: none;       /* removes any default border */
  background: none;   /* removes any default background */
}

/* Base styles */
body {
    width: auto;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #EFEAE4;
    background-color: #131416;
    zoom: 80%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}



/* Footer */

.footerContent {
  background-color: #131416;
  z-index: 4;
  position: relative;
}

.siteInfo {
  font-family: 'Halyard Display', sans-serif;
    font-weight: 100;
    font-style: lighter;
    font-display: swap;

  margin-inline: auto;
  display: flex;
  justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    font-size: 1.25rem;
}

/* scroll indicator */
.scrollIndicator {
  width: 2rem;
  height: 3.5rem;
  background-color: transparent;
  border: #EFEAE4 1px solid;
  border-radius: 2rem; /* optional: rounded corners */
  margin-right: 1.5rem;
  margin-left: auto;
  margin-bottom: .25rem; 
   display: flex;
  align-items: center;    /* vertical centering */
  justify-content: center;/* horizontal centering */
  flex-shrink: 0;
}

.scrollIndicator-inner {
  width: 0.3rem;
  height: 0.4rem;
  background: #EFEAE4;
  animation: scroll-square-down 2s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes scroll-square-down {
  0% {
    transform: translateY(-.75rem);
    opacity: 1;
  }

  10.7% { /* 150ms fade-in (150/1400 = ~10.7%) */
    opacity: 1;
  }

  85.7% { /* 1200ms movement (1200/1400 = ~85.7%) */
    transform: translateY(.75rem);
    opacity: 0;
  }

  100% {
    transform: translateY(-.75rem); /* moves square down slightly */
    opacity: 0;
  }
}

/* Base class — always on the element */
.fadeinup {
  opacity: 0;
  transform: translate3d(0, 20px, 0); /* start slightly below */
}

/* Keyframes for the animation */
@keyframes fadeInUpCustom {
  0% {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transform: scale(1);
  }
}

/* Animation trigger class — added by JS */
.animateUp {
  animation-name: fadeInUpCustom;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* keeps final state after animation */
}
@media (max-width: 1024px) {

}

@media (max-width: 780px) {
  .logo {
    display: none;
  }

  .nav-links {
    flex: 1;
  }

  .nav-links ul {
  justify-content: space-between;
  }
}

@media (max-width: 540px) {
  .nav-links a {
    padding: .25rem 1rem;
  }

  .siteInfo {
    flex-direction: column;
  }

  .tags {
    display: none;
  }

  .poro {
    display: none;
  }
}

@media (max-width: 375px) {
  .page-title {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }  

}