#d1 {
  offset-distance: .5%; /* % along the curve */
}

#d2 {
  offset-distance: 2.75%; /* % along the curve */
}

#d3 {
  offset-distance: 29.5%; /* % along the curve */
}

.slider #d3 {
    width: 62.5%;
}

#d4 {
  offset-distance: 31.3%; /* % along the curve */
}

#d4 h3 {
    color: #8C00FF;
}

#d5 {
  offset-distance: 33%; /* % along the curve */
}

#d6 {
  offset-distance: 37.9%; /* % along the curve */
}

#d7 {
  offset-distance: 41.3%; /* % along the curve */
}

.slider #d7 {
    width: 57.5%;
}

.custom1 {
    margin-top: 8rem;
}

#d8 {
  offset-distance: 43.25%; /* % along the curve */
}

#d9 {
  offset-distance: 43.975%; /* % along the curve */
}

#d10 {
  offset-distance: 46.7%; /* % along the curve */
}

.custom2 {
    margin-top: 9rem;
    margin-left: 1rem;
}

.slider #d10 {
    width: 75%;
}

#d11 {
  offset-distance: 57.5%; /* % along the curve */
}

#d12 {
  offset-distance: 61.9%; /* % along the curve */
}

#d13 {
  offset-distance: 65%; /* % along the curve */
}

.custom3 {
    margin-top: 6rem;
}

#d14 {
  offset-distance: 69%; /* % along the curve */
}

#d15 {
  offset-distance: 70%; /* % along the curve */
}

#d16 {
  offset-distance: 71.25%; /* % along the curve */
}

.slider #d16 {
    width: 82.5%;
}

#d17 {
  offset-distance: 87.75%; /* % along the curve */
}

#d18 {
  offset-distance: 96%; /* % along the curve */
}

#d19 {
  offset-distance: 98%; /* % along the curve */
}

#d20 {
  offset-distance: 100%; /* % along the curve */
}

.i1 {
    transform: translate(-17rem, 10rem);
}

.i2 {
    transform: translate(15rem, -9rem);
}

.i3 {
    transform: translate(2rem, 6rem);
}

.i4 {
    transform: translate(18rem, -1.5rem);
}

.i5 {
    transform: translate(-3rem, 8rem);
}

.i6 {
    transform: translate(4rem, -9rem);
}

.i7 {
    transform: translate(-18rem, 18rem);
}

.i8 {
    transform: translate(18rem, -18rem);
}

.i9 {
    transform: translate(-12rem, -18rem);
}

.i10 {
    transform: translate(-8rem, 12rem);
}

.i11 {
    transform: translate(-10rem, -12rem);
}

.i12 {
    transform: translate(23rem, 3rem);
}